openapi: 3.1.0
info:
  title: Scorekeeper API
  description: |
    API for the Scorekeeper word puzzle game.

    See also: [Planned Features](https://hannahscovill.github.io/scorekeeper/planned)
  version: 0.1.0

servers:
  - url: https://api.wordles.dev
    description: Remote
  - url: http://localhost:8080
    description: Local

security:
  - bearerAuth: []
  - cookieAuth: []

tags:
  - name: Admin
    description: Administrative operations (requires admin privileges)
  - name: Gameplay
    description: Game submission and grading
  - name: Issues
    description: Issue reporting (requires authentication)
  - name: Users
    description: User profile management
  - name: Mobile Test Track Signup
    description: Internal mobile test track signup (authenticated and anonymous)

paths:
  /guess:
    post:
      summary: Submit a word guess
      description: Submit a guess for a puzzle. Authentication via Authorization header (Bearer token) or wordle_session cookie.
      operationId: submitGuess
      tags:
        - Gameplay
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "schemas.yaml#/Game"
            examples:
              default:
                $ref: "data-examples/examples.yaml#/Game"
      responses:
        "200":
          description: Game graded successfully
          content:
            application/json:
              schema:
                $ref: "schemas.yaml#/GameGraded"
              examples:
                win:
                  $ref: "data-examples/examples.yaml#/GameGraded"
                loss:
                  $ref: "data-examples/examples.yaml#/GameGradedLoss"
        "304":
          $ref: "#/components/responses/NotModified"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /history:
    get:
      summary: Get user's game history
      description: |
        Retrieve all games played by the authenticated user.

        Returns games sorted by puzzle date (most recent first), along with
        aggregate statistics like total games played and games won.
      operationId: getHistory
      tags:
        - Gameplay
      responses:
        "200":
          description: Game history retrieved successfully
          content:
            application/json:
              schema:
                $ref: "schemas.yaml#/HistoryResponse"
              examples:
                default:
                  $ref: "data-examples/examples.yaml#/HistoryResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /puzzles:
    get:
      summary: Get puzzles
      description: |
        Retrieve puzzles for authenticated users.

        With no query parameters, returns all puzzles. Use start_date and end_date
        to filter by date range. Both dates must be provided together - specifying
        only one will return a 400 Bad Request error.

        **Note:** Only game administrators (app_metadata.game_admin = true) will see
        the answer words in the response. Non-admin users will only see the dates,
        allowing them to check which games are available to play.
      operationId: getPuzzles
      tags:
        - Gameplay
      parameters:
        - name: start_date
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Start date for filtering puzzles (inclusive, YYYY-MM-DD)
          example: "2026-01-01"
        - name: end_date
          in: query
          required: false
          schema:
            type: string
            format: date
          description: End date for filtering puzzles (inclusive, YYYY-MM-DD)
          example: "2026-01-31"
        - name: omit_answers
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: |
            If true, omit the answer words from the response (only return dates).
            Only relevant for admin users; non-admin users never see answers regardless of this parameter.
          example: true
      responses:
        "200":
          description: Puzzles retrieved successfully
          content:
            application/json:
              schema:
                $ref: "schemas.yaml#/GetPuzzlesResponse"
              examples:
                adminWithAnswers:
                  summary: Admin user (sees answers)
                  $ref: "data-examples/examples.yaml#/GetPuzzlesWithAnswers"
                adminOmitAnswers:
                  summary: Admin user with omit_answers=true
                  $ref: "data-examples/examples.yaml#/GetPuzzlesOmitAnswers"
                nonAdmin:
                  summary: Non-admin user (answers hidden)
                  $ref: "data-examples/examples.yaml#/GetPuzzlesOmitAnswers"
        "401":
          $ref: "#/components/responses/Unauthorized"

    put:
      summary: Set puzzle answer (game admin only)
      description: |
        Set the answer for a puzzle on a specific date.

        The word must be exactly 5 letters and must be a valid word in the dictionary.
        This ensures that players will be able to make valid guesses against the puzzle.

        Only users with app_metadata.game_admin = true can access this endpoint.

        You can either provide a specific word, or set `set_random_unused_word: true`
        to automatically select a random word from the dictionary that hasn't been
        used in any puzzle yet.
      operationId: setPuzzle
      tags:
        - Admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "schemas.yaml#/SetPuzzleRequest"
            examples:
              default:
                $ref: "data-examples/examples.yaml#/SetPuzzleRequest"
              withTeam:
                $ref: "data-examples/examples.yaml#/SetPuzzleRequestWithTeam"
              randomWord:
                $ref: "data-examples/examples.yaml#/SetPuzzleRequestRandomWord"
      responses:
        "200":
          description: Puzzle answer set successfully
          content:
            application/json:
              schema:
                $ref: "schemas.yaml#/SetPuzzleResponse"
              examples:
                default:
                  $ref: "data-examples/examples.yaml#/SetPuzzleResponse"
                withTeam:
                  $ref: "data-examples/examples.yaml#/SetPuzzleResponseWithTeam"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /puzzles/cache/clear:
    post:
      summary: Clear puzzle answer cache (game admin only)
      description: |
        Clear the in-memory cache of puzzle answers.

        This endpoint is useful when puzzle answers have been modified directly in the
        database (e.g., via AWS console) and the server needs to pick up the changes
        immediately instead of serving stale cached values.

        **Note:** In a load-balanced environment with multiple server instances, each
        instance has its own cache. This endpoint only clears the cache on the instance
        that handles the request. To ensure all instances are updated, either call this
        endpoint multiple times or restart all instances.

        Only users with app_metadata.game_admin = true can access this endpoint.
      operationId: clearPuzzleCache
      tags:
        - Admin
      responses:
        "200":
          description: Cache cleared successfully
          content:
            application/json:
              schema:
                $ref: "schemas.yaml#/CacheClearResponse"
              examples:
                default:
                  $ref: "data-examples/examples.yaml#/CacheClearResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /puzzles/{date}:
    get:
      summary: Get a single puzzle by date
      description: |
        Retrieve a single puzzle for a specific date.

        **Note:** Only game administrators (app_metadata.game_admin = true) will see
        the answer word in the response. Non-admin users will only see the date,
        allowing them to check if a game is available to play.
      operationId: getPuzzleByDate
      tags:
        - Gameplay
      parameters:
        - name: date
          in: path
          required: true
          schema:
            type: string
            format: date
          description: The puzzle date (YYYY-MM-DD)
          example: "2026-01-15"
      responses:
        "200":
          description: Puzzle retrieved successfully
          content:
            application/json:
              schema:
                $ref: "schemas.yaml#/PuzzleAnswerResponse"
              examples:
                admin:
                  summary: Admin user (sees answer)
                  value:
                    date: "2026-01-15"
                    word: "crane"
                nonAdmin:
                  summary: Non-admin user (answer hidden)
                  value:
                    date: "2026-01-15"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /convert-session:
    post:
      summary: Convert anonymous session to authenticated user
      description: |
        Migrate game states from an anonymous session cookie to an authenticated user's account.

        When a user plays anonymously (using a session cookie UUID) and then logs in,
        this endpoint transfers their anonymous game history to their authenticated account.

        **Conflict resolution:** If both the anonymous session and the authenticated user
        have a game for the same puzzle date, whichever was created first is kept.

        Anonymous session records are deleted after conversion. In production, any
        unconverted anonymous records are automatically cleaned up via DynamoDB TTL
        (24-hour expiry).
      operationId: convertSession
      tags:
        - Gameplay
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "schemas.yaml#/ConvertSessionRequest"
            examples:
              default:
                $ref: "data-examples/examples.yaml#/ConvertSessionRequest"
      responses:
        "200":
          description: Session conversion completed successfully
          content:
            application/json:
              schema:
                $ref: "schemas.yaml#/ConvertSessionResponse"
              examples:
                default:
                  $ref: "data-examples/examples.yaml#/ConvertSessionResponse"
                noGames:
                  $ref: "data-examples/examples.yaml#/ConvertSessionResponseEmpty"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /issues:
    post:
      summary: Submit an issue report
      description: |
        Create a GitHub issue on behalf of an authenticated user.

        The reporter's user ID is extracted from the JWT and included in the
        issue body. Display name is resolved from the Auth0 user profile when
        available. PostHog session ID is included for session replay correlation.

        The issue body includes separate Client and Server environment sections.
        Client metadata (browser, URL, environment name, commit hash) is sent
        by the frontend. Server metadata (environment name, commit hash) is
        appended by the backend from its own deployment context.

        Includes Turnstile CAPTCHA verification, honeypot spam detection,
        and per-IP rate limiting (5 issues per hour).
      operationId: createIssue
      tags:
        - Issues
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "schemas.yaml#/IssueRequest"
            examples:
              bug:
                $ref: "data-examples/examples.yaml#/IssueRequestBug"
              feature:
                $ref: "data-examples/examples.yaml#/IssueRequestFeature"
      responses:
        "201":
          description: Issue created successfully
          content:
            application/json:
              schema:
                $ref: "schemas.yaml#/IssueReportResponse"
              examples:
                default:
                  $ref: "data-examples/examples.yaml#/IssueReportResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "schemas.yaml#/ErrorResponse"
              example:
                message: "Server configuration error"

  /profile:
    get:
      summary: Get user profile
      description: |
        Retrieve the authenticated user's profile from Auth0 user_metadata.

        Requires Auth0 M2M credentials to be configured on the server.
      operationId: getProfile
      tags:
        - Users
      responses:
        "200":
          description: User profile retrieved successfully
          content:
            application/json:
              schema:
                $ref: "schemas.yaml#/ProfileResponse"
              examples:
                default:
                  $ref: "data-examples/examples.yaml#/ProfileResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    put:
      summary: Update user profile
      description: |
        Update the authenticated user's profile in Auth0 user_metadata.

        Changes will be reflected in new ID tokens issued after the update.
        Requires Auth0 M2M credentials to be configured on the server.
      operationId: updateProfile
      tags:
        - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "schemas.yaml#/UpdateProfileRequest"
            examples:
              default:
                $ref: "data-examples/examples.yaml#/UpdateProfileRequest"
      responses:
        "200":
          description: Profile updated successfully
          content:
            application/json:
              schema:
                $ref: "schemas.yaml#/ProfileResponse"
              examples:
                default:
                  $ref: "data-examples/examples.yaml#/ProfileResponseUpdated"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /profile/avatar:
    post:
      summary: Upload user avatar
      description: |
        Upload an avatar image for the authenticated user.

        The image is uploaded to S3 and the URL is stored in Auth0 user_metadata.
        Requires both Auth0 M2M credentials and S3_AVATAR_BUCKET to be configured.
      operationId: uploadAvatar
      tags:
        - Users
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - avatar
              properties:
                avatar:
                  type: string
                  format: binary
                  description: Image file to upload (JPEG or PNG, max 2MB)
      responses:
        "200":
          description: Avatar uploaded successfully
          content:
            application/json:
              schema:
                $ref: "schemas.yaml#/AvatarUploadResponse"
              examples:
                default:
                  $ref: "data-examples/examples.yaml#/AvatarUploadResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          description: Internal Server Error (S3 upload failure)
          content:
            application/json:
              schema:
                $ref: "schemas.yaml#/ErrorResponse"
              example:
                message: "Failed to upload avatar"

  /profile/mobile-test-track-signup:
    post:
      summary: Opt into the internal mobile test track (authenticated)
      description: |
        Opts the authenticated user into the iOS and/or Android internal test
        track, writing directly to their Auth0 user_metadata.

        Idempotent per platform — resubmitting a platform that's already
        opted in is a no-op (no Auth0 write, no GitHub notification).

        Notifies via a GitHub issue (label `mobile-test-user-opt-in`)
        containing the user's display name and Auth0 user ID only — the
        email is never included, even though it's a field on the account.
        GitHub notification is best-effort: if GitHub credentials aren't
        configured, the opt-in still succeeds and the notification is
        silently skipped.

        **No Turnstile token required** — a valid JWT already proves the
        request is from a real logged-in user, so CAPTCHA verification
        (required on the anonymous `POST /mobile-test-track-signup` below) would be
        redundant here.
      operationId: mobileTestTrackSignup
      tags:
        - Mobile Test Track Signup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "schemas.yaml#/MobileTestTrackSignupRequest"
            examples:
              default:
                $ref: "data-examples/examples.yaml#/MobileTestTrackSignupRequest"
      responses:
        "200":
          description: Current opt-in state after the call
          content:
            application/json:
              schema:
                $ref: "schemas.yaml#/MobileTestTrackSignupResponse"
              examples:
                default:
                  $ref: "data-examples/examples.yaml#/MobileTestTrackSignupResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /mobile-test-track-signup:
    post:
      summary: Opt into the internal mobile test track (anonymous)
      description: |
        Opts an anonymous visitor into the iOS and/or Android internal test
        track by email, without requiring an account. Creates (or finds) a
        passwordless Auth0 "email" connection lead and writes the same
        opt-in fields used by `POST /profile/mobile-test-track-signup`.

        Idempotent per email/platform — resubmitting a platform already
        opted into is a no-op. Notifies via the same GitHub issue mechanism
        as the authenticated endpoint — the issue includes only the Auth0
        user ID, **never the email or any hint of it**.

        Public and unauthenticated, so it's gated the same way `/issues`
        is: Turnstile CAPTCHA verification (required, not best-effort),
        per-IP rate limiting (5 requests per hour, separate quota from
        `/issues`), and a honeypot field.
      operationId: anonymousMobileTestTrackSignup
      tags:
        - Mobile Test Track Signup
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "schemas.yaml#/AnonymousMobileTestTrackSignupRequest"
            examples:
              default:
                $ref: "data-examples/examples.yaml#/AnonymousMobileTestTrackSignupRequest"
      responses:
        "200":
          description: Current opt-in state after the call
          content:
            application/json:
              schema:
                $ref: "schemas.yaml#/MobileTestTrackSignupResponse"
              examples:
                default:
                  $ref: "data-examples/examples.yaml#/MobileTestTrackSignupResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token in Authorization header
    cookieAuth:
      type: apiKey
      in: cookie
      name: wordle_session
      description: JWT token in wordle_session cookie

  responses:
    NotModified:
      description: Not Modified
      content:
        application/json:
          schema:
            $ref: "schemas.yaml#/ErrorResponse"
          example:
            message: "not modified"
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: "schemas.yaml#/ErrorResponse"
          example:
            message: "bad request"
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: "schemas.yaml#/ErrorResponse"
          example:
            message: "unauthorized"
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: "schemas.yaml#/ErrorResponse"
          example:
            message: "forbidden"
    NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: "schemas.yaml#/ErrorResponse"
          example:
            message: "not found"
    TooManyRequests:
      description: Too Many Requests
      content:
        application/json:
          schema:
            $ref: "schemas.yaml#/ErrorResponse"
          example:
            message: "Rate limit exceeded. Please try again later."

  schemas:
    $ref: "schemas.yaml"
