openapi: 3.1.0
info:
  title: Scorekeeper API
  description: |
    API for the Scorekeeper word puzzle game.

    See also: [Planned Features](https://hannahscovill.github.io/scorekeeper/planned)
  version: 0.1.0

servers:
  - url: https://api.wordles.dev
    description: Remote
  - url: https://localhost:8080
    description: Local

security:
  - bearerAuth: []
  - cookieAuth: []

tags:
  - name: Admin
    description: Administrative operations (requires admin privileges)
  - name: Gameplay
    description: Game submission and grading
  - name: Users
    description: User profile management

paths:
  /guess:
    post:
      summary: Submit a word guess
      description: Submit a guess for a puzzle. Authentication via Authorization header (Bearer token) or auth_token cookie.
      operationId: submitGuess
      tags:
        - Gameplay
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "schemas.yaml#/Game"
            examples:
              default:
                $ref: "data-examples/examples.yaml#/Game"
      responses:
        "200":
          description: Game graded successfully
          content:
            application/json:
              schema:
                $ref: "schemas.yaml#/GameGraded"
              examples:
                default:
                  $ref: "data-examples/examples.yaml#/GameGraded"
        "304":
          $ref: "#/components/responses/NotModified"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /history:
    get:
      summary: Get user's game history
      description: |
        Retrieve all games played by the authenticated user.

        Returns games sorted by puzzle date (most recent first), along with
        aggregate statistics like total games played and games won.
      operationId: getHistory
      tags:
        - Gameplay
      responses:
        "200":
          description: Game history retrieved successfully
          content:
            application/json:
              schema:
                $ref: "schemas.yaml#/HistoryResponse"
              examples:
                default:
                  $ref: "data-examples/examples.yaml#/HistoryResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /puzzles:
    get:
      summary: Get puzzles
      description: |
        Retrieve puzzles for authenticated users.

        With no query parameters, returns all puzzles. Use start_date and end_date
        to filter by date range. Both dates must be provided together - specifying
        only one will return a 400 Bad Request error.

        **Note:** Only game administrators (app_metadata.game_admin = true) will see
        the answer words in the response. Non-admin users will only see the dates,
        allowing them to check which games are available to play.
      operationId: getPuzzles
      tags:
        - Gameplay
      parameters:
        - name: start_date
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Start date for filtering puzzles (inclusive, YYYY-MM-DD)
          example: "2026-01-01"
        - name: end_date
          in: query
          required: false
          schema:
            type: string
            format: date
          description: End date for filtering puzzles (inclusive, YYYY-MM-DD)
          example: "2026-01-31"
        - name: omit_answers
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: |
            If true, omit the answer words from the response (only return dates).
            Only relevant for admin users; non-admin users never see answers regardless of this parameter.
          example: true
      responses:
        "200":
          description: Puzzles retrieved successfully
          content:
            application/json:
              schema:
                $ref: "schemas.yaml#/GetPuzzlesResponse"
              examples:
                adminWithAnswers:
                  summary: Admin user (sees answers)
                  $ref: "data-examples/examples.yaml#/GetPuzzlesWithAnswers"
                adminOmitAnswers:
                  summary: Admin user with omit_answers=true
                  $ref: "data-examples/examples.yaml#/GetPuzzlesOmitAnswers"
                nonAdmin:
                  summary: Non-admin user (answers hidden)
                  $ref: "data-examples/examples.yaml#/GetPuzzlesOmitAnswers"
        "401":
          $ref: "#/components/responses/Unauthorized"

    put:
      summary: Set puzzle answer (game admin only)
      description: |
        Set the answer for a puzzle on a specific date.

        The word must be exactly 5 letters and must be a valid word in the dictionary.
        This ensures that players will be able to make valid guesses against the puzzle.

        Only users with app_metadata.game_admin = true can access this endpoint.

        You can either provide a specific word, or set `set_random_unused_word: true`
        to automatically select a random word from the dictionary that hasn't been
        used in any puzzle yet.
      operationId: setPuzzle
      tags:
        - Admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "schemas.yaml#/SetPuzzleRequest"
            examples:
              default:
                $ref: "data-examples/examples.yaml#/SetPuzzleRequest"
              withTeam:
                $ref: "data-examples/examples.yaml#/SetPuzzleRequestWithTeam"
              randomWord:
                $ref: "data-examples/examples.yaml#/SetPuzzleRequestRandomWord"
      responses:
        "200":
          description: Puzzle answer set successfully
          content:
            application/json:
              schema:
                $ref: "schemas.yaml#/SetPuzzleResponse"
              examples:
                default:
                  $ref: "data-examples/examples.yaml#/SetPuzzleResponse"
                withTeam:
                  $ref: "data-examples/examples.yaml#/SetPuzzleResponseWithTeam"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /puzzles/{date}:
    get:
      summary: Get a single puzzle by date
      description: |
        Retrieve a single puzzle for a specific date.

        **Note:** Only game administrators (app_metadata.game_admin = true) will see
        the answer word in the response. Non-admin users will only see the date,
        allowing them to check if a game is available to play.
      operationId: getPuzzleByDate
      tags:
        - Gameplay
      parameters:
        - name: date
          in: path
          required: true
          schema:
            type: string
            format: date
          description: The puzzle date (YYYY-MM-DD)
          example: "2026-01-15"
      responses:
        "200":
          description: Puzzle retrieved successfully
          content:
            application/json:
              schema:
                $ref: "schemas.yaml#/PuzzleAnswerResponse"
              examples:
                admin:
                  summary: Admin user (sees answer)
                  value:
                    date: "2026-01-15"
                    word: "crane"
                nonAdmin:
                  summary: Non-admin user (answer hidden)
                  value:
                    date: "2026-01-15"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /profile:
    get:
      summary: Get user profile
      description: |
        Retrieve the authenticated user's profile from Auth0 user_metadata.

        Requires Auth0 M2M credentials to be configured on the server.
      operationId: getProfile
      tags:
        - Users
      responses:
        "200":
          description: User profile retrieved successfully
          content:
            application/json:
              schema:
                $ref: "schemas.yaml#/ProfileResponse"
              examples:
                default:
                  $ref: "data-examples/examples.yaml#/ProfileResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    put:
      summary: Update user profile
      description: |
        Update the authenticated user's profile in Auth0 user_metadata.

        Changes will be reflected in new ID tokens issued after the update.
        Requires Auth0 M2M credentials to be configured on the server.
      operationId: updateProfile
      tags:
        - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "schemas.yaml#/UpdateProfileRequest"
            examples:
              default:
                $ref: "data-examples/examples.yaml#/UpdateProfileRequest"
      responses:
        "200":
          description: Profile updated successfully
          content:
            application/json:
              schema:
                $ref: "schemas.yaml#/ProfileResponse"
              examples:
                default:
                  $ref: "data-examples/examples.yaml#/ProfileResponseUpdated"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /profile/avatar:
    post:
      summary: Upload user avatar
      description: |
        Upload an avatar image for the authenticated user.

        The image is uploaded to S3 and the URL is stored in Auth0 user_metadata.
        Requires both Auth0 M2M credentials and S3_AVATAR_BUCKET to be configured.
      operationId: uploadAvatar
      tags:
        - Users
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - avatar
              properties:
                avatar:
                  type: string
                  format: binary
                  description: Image file to upload (JPEG or PNG, max 2MB)
      responses:
        "200":
          description: Avatar uploaded successfully
          content:
            application/json:
              schema:
                $ref: "schemas.yaml#/AvatarUploadResponse"
              examples:
                default:
                  $ref: "data-examples/examples.yaml#/AvatarUploadResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          description: Internal Server Error (S3 upload failure)
          content:
            application/json:
              schema:
                $ref: "schemas.yaml#/ErrorResponse"
              example:
                message: "Failed to upload avatar"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token in Authorization header
    cookieAuth:
      type: apiKey
      in: cookie
      name: auth_token
      description: JWT token in auth_token cookie

  responses:
    NotModified:
      description: Not Modified
      content:
        application/json:
          schema:
            $ref: "schemas.yaml#/ErrorResponse"
          example:
            message: "not modified"
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: "schemas.yaml#/ErrorResponse"
          example:
            message: "bad request"
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: "schemas.yaml#/ErrorResponse"
          example:
            message: "unauthorized"
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: "schemas.yaml#/ErrorResponse"
          example:
            message: "forbidden"
    NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: "schemas.yaml#/ErrorResponse"
          example:
            message: "not found"

  schemas:
    $ref: "schemas.yaml"
